**.swo
**.swp
**.swd
**.swe
**.swf
**.swg
**.swh
**.swi
**.swj
**.swk
**.swl
**.swm
**.swn
**.swc
**.swb
.neovide-wrapped_rCURRENT.log
**neovide_rCURRENT.log
**/result
server/nixos.img
**qcow2
p1n3-efi-vars.fd
